* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#lw_header {
  background-color: rgba(0, 0, 0, 0.7); /* Barra semi-transparente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}

#link_inicio img {
  width: 120px;
}

#links_centro {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#links_centro a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#links_centro a:hover {
  color: #f0a500; /* Efecto hover con color de acento */
}

.links_der {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.links_der .buscador img,
.links_der .admin_logout img {
  width: 15px;
  transition: transform 0.3s ease;
}

.links_der img:hover {
  transform: scale(1.2); /* Animación al pasar el ratón */
}

#logout-img {
  width: 25px;
}

#admin-img {
  width: 30px;
  margin-bottom: 2px;
}

main {
  background: linear-gradient(
    180deg,
    rgb(2, 2, 2) 40%,
    rgb(9, 7, 71) 70%,
    rgb(1, 9, 56) 91%
  );
}

#imagen_destacada {
  position: relative;
  width: 100%;
  margin: auto;
}

.destacada {
  width: 100%;
  display: block;
}

.navegacion_destacada {
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical si es necesario */
  left: 20px; /* Ajusta la posición horizontal si es necesario */
  color: white;
  background: rgba(0, 0, 0, 0.418); /* Fondo semitransparente para el texto */
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.navegacion_destacada h3 {
  margin-bottom: 2rem;
  font-size: 1.2em;
}

.navegacion_destacada a {
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(134, 151, 206, 0.3); /* Color de fondo del botón */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.navegacion_destacada a:hover {
  background-color: rgba(
    174,
    191,
    246,
    0.4
  ); /* Cambia de color al pasar el ratón */
}

.categorias h2 {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 1rem;
}

/* carrusel */

.categorias {
  position: relative;
  overflow: hidden; /* Oculta los desbordes del carrusel */
  width: 100%;
}

.carousel-container {
  display: flex;
  align-items: center;
}
.pelicula-btn {
  padding: 130px 90px;
  margin-left: 20px;
  border: 1px solid rgba(148, 137, 137, 0.7);
  border-radius: 10px;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.pelicula-btn img {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  border: 1px solid rgba(148, 137, 137, 0.7);
  border-radius: 10px;
}

.carousel-container .prev,
.next {
  background-color: rgba(8, 8, 8, 0.521);
  color: white;
  border: 1px solid rgba(8, 8, 8, 0.521);
  border-radius: 30%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.next:hover,
.prev:hover {
  background-color: rgba(160, 146, 146, 0.308);
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}
.carousel-container {
  position: relative;
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

#recomendaciones,
#humor,
#terror,
#clasicos {
  display: flex; /* Asegura que los elementos hijos se alineen en fila */
  transition: transform 0.3s ease; /* Transición suave al moverse */
}

.carousel-container div {
  flex: 0 0 auto; /* Impide que los elementos se redimensionen */
}

button {
  z-index: 1; /* Asegura que los botones estén en la parte superior */
}

footer {
  background-color: #05064e; /* Azul oscuro para mantener la temática */
  color: #b3b3b3; /* Color claro para el texto */
  padding: 20px 0; /* Espaciado superior e inferior */
  text-align: center; /* Centrar el contenido */
  /* Separación respecto al contenido superior */
}

footer div {
  margin-bottom: 10px; /* Separación entre íconos y el texto */
}

footer a {
  margin: 0 10px; /* Espaciado entre los íconos */
  transition: transform 0.3s ease; /* Suave animación al pasar el ratón */
}

footer a:hover {
  transform: scale(1.2); /* Aumenta el tamaño de los íconos al pasar el ratón */
}

footer p {
  font-size: 0.9rem; /* Tamaño de texto un poco más pequeño */
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */

@media (max-width: 768px) {
  /* Para pantallas más pequeñas */
  #lw_header {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .links_der {
    margin-top: 0.4rem;
    gap: 0.5rem;
  }

  #link_inicio img {
    width: 90px;
  }

  #links_centro a {
    font-size: 1rem;
    margin-top:0.5rem ;
  }
}
@media (max-width: 768px) {
  h3 {
    display: none;
  }
}
